doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		script(src="https://code.jquery.com/jquery-3.2.1.js")
		link(rel='stylesheet',href='/style.css')
		link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
		script(src="semantic/dist/semantic.min.js")
		script(type="text/javascript", src="/script.js")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		title Mutably front-end - #{title}
		block content
