extends base.pug

block content
  body(class="container")
    div(class="col-sm-8 col-sm-offset-2")
      nav(class="navbar navbar-default")
        a(class="navbar-brand" href="/") Mutably Front-end
        a(class="navbar-brand" href="/books") books
        a(class="navbar-brand" href="/pokemon") pokemon
        a(class="navbar-brand" href="albums") albums
